# Default ignored files
/shelf/
/workspace.xml
/SaveFile.txt
/SaveFile1.txt
# Datasource local storage ignored files
/out/
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
